In [22]:
import pandas as pd

df = pd.read_excel('test.xlsx', sheet_name = 'Sheet3', index = True)

df = df[df['呼吸器'] > 0]
print(df)

    a  ATC1  ATC2  ATC3  呼吸器  感染症   8月    9月
1  米国   450   300    20    1    0  900  1100
2  欧州   250   400    30    1    1  600   700

In [19]:
import xlwings as xw
wb = xw.Book('data.xlsx')
sht = wb.sheets[0]
title = sht.range('A1:F1').value
title = set(title)

each_r = '呼吸器'
print(title)

{'感染症', 'a', 'ATC1', '9月', '呼吸器', '8月'}

In [20]:
delet_column = []
for c in df2.columns: 
    if c not in title:
        delet_column.append(c)

df2.drop(delet_column, axis=1, inplace=True)
print(df2)

    a  ATC1  呼吸器  感染症   8月    9月
1  米国   450    1    0  900  1100
2  欧州   250    1    1  600   700

/Library/Python/3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
list_df2 = df2.values.tolist()
print(list_df2)
sht.range('A2').value = list_df2

[['米国', 450, 1, 0, 900, 1100], ['欧州', 250, 1, 1, 600, 700]]

In [29]:
import pandas as pd
import xlwings as xw

df = pd.read_excel('test.xlsx', sheet_name = 'Sheet3', index = True)

df = df[df['呼吸器'] > 0]
#print(df)

wb = xw.Book('data.xlsx')
sht = wb.sheets[0]
title = sht.range('A1:F1').value
print(title)

each_r = '呼吸器'
#print(title)

input_range = ['A2', 'B2', 'C2', 'D2', 'E2', 'F2']
for t, inp in zip(title, input_range):
    data = df[t].values.tolist()
    print(data)
    sht.range(inp).options(transpose=True).value = data

['a', 'ATC1', '呼吸器', '感染症', '8月', '9月']
['米国', '欧州']
[450, 250]
[1, 1]
[0, 1]
[900, 600]
[1100, 700]

In [49]:
import pandas as pd
import xlwings as xw

df = pd.read_excel('test.xlsx', sheet_name = 'Sheet3', header = 2)

df = df[df['呼吸器'] > 0]
DB_title = df.columns


wb = xw.Book('data.xlsx')
sht = wb.sheets[0]
title = sht.range('A1:F1').value

each_r = '呼吸器'
#print(title)

#for t in title:
#    if t not in DB_title:
#        df.drop(delet_column, axis=1, inplace=True)

df = df[title]
print(df['8月'])

1    900
2    600
Name: 8月, dtype: int64

In [50]:
import pandas as pd
import xlwings as xw

df = pd.read_excel('test.xlsx', sheet_name = 'Sheet3', header = 2)
df.drop(df.index, inplace = True)
print(df)

Empty DataFrame
Columns: [a, ATC1, ATC2, ATC3, 呼吸器, 感染症, 8月, 9月]
Index: []

In [55]:
import pandas as pd
import xlwings as xw

df = pd.read_excel('test.xlsx', sheet_name = 'Sheet3', header = 2)
df = df[(df['呼吸器'] > 0) & (df['dtl'] == 'F2F')]

wb = xw.Book('data.xlsx')
sht = wb.sheets[0]

df.pivot_table(values=['8月','9月'], index = ['a'], columns=['dtl'])

     8月  9月
dtl F2F F2F
a
米国    3   2

In [77]:
import pandas as pd
import xlwings as xw

df = pd.read_excel('test.xlsx', sheet_name = 'Sheet3', header = 2)
df = df[(df['呼吸器'] > 0) & (df['dtl'] == 'F2F')]

wb = xw.Book('data.xlsx')
sht = wb.sheets[0]

data = df.groupby('呼吸器').sum()
print(data)

data_list = data.values.tolist()
print(data_list)

     ATC2  感染症  8月  9月
呼吸器
1     600    0   6   4
[[600, 0, 6, 4]]

In [9]:
import pandas as pd
import numpy as np
import xlwings as xw

df = pd.read_excel('test.xlsx', sheet_name = 'Sheet3', header = 2)
df = df[df['呼吸器'] > 0]

wb = xw.Book('data.xlsx')
sht = wb.sheets[0]

v = ['效果', '说明会']

data = df.pivot_table(values=v, index = '月', columns = 'ATC1', aggfunc = sum, fill_value = 0)
print(data)
#print(df.drop_duplicates(subset=['a', 'ATC1'], keep='first'))

data = data.T


sht.range('A10').options(transpose=True).value = v
sht.range('B9').value = ['2019-10', '2020-02', '2020-03']
sht.range('B10').value = data.values.tolist()
#data.index
#data_list = data.values.tolist()
#sht.range('A10').value = data_list

            效果     说明会
ATC1       R01 R02 R01 R02
月
2019-10-01   0   0   0   0
2020-02-01   0   0   1   0
2020-03-01   1   1   0   1
    a ATC1  ATC2  dtl          月  呼吸器  感染症   效果  说明会
1  米国  R01   300  F2F 2019-10-01    1    0  NaN  NaN
2  欧州  R02   400  F2F 2020-03-01    1    1  1.0  1.0
5  欧州  R01   400  F2F 2020-03-01    1    1  1.0  NaN

In [4]:
import pandas as pd
import numpy as np
import xlwings as xw

df = pd.read_excel('test.xlsx', sheet_name = 'Sheet5', header = 2)
df[(df['リウマチ'] > 0) | (df['統合'] > 0)]

    a ATC1  ATC2  dtl          月  リウマチ  統合  睡眠  呼吸
0  日本  R01   650  F2F 2019-01-01     1   0   0   0
1  米国  R01   300  F2F 2019-10-01     1   1   0   0
2  欧州  R02   400  F2F 2020-03-01     0   1   0   0
4  米国  R01   300  F2F 2020-02-01     1   0   1   0